{% extends 'base.html' %}
{% load static %}
{% block title %} Agregando contactos {% endblock %}
{% block content %}
{% if user.is_authenticated %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet" type="text/css"/>
    <script src="{{ STATIC_URL }}js/bootstrap.js"></script>
    <script src="/media/js/jquery.js"></script>
	<link href="/media/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/media/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="jquery.ui.datepicker-es.js"></script>
    <script src="/media/js/jquery.form.min.js"></script>
    <script src="/media/js/demo.js"></script>
   	<script src="/media/bootstrap/js/bootstrap.js"></script>
    {{ form.media }}
	<form action="." method="POST" enctype="multipart/form-data">
		
		{% csrf_token %}
		<label  for="{{ form.nombre.auto_id }}">{{form.nombre.label}}</label>
		{{form.nombre}} <br>
		<label for="{{ form.apellidos.auto_id }}">{{form.apellidos.label}}</label>
		{{form.apellidos}} <br>
		<label for="{{ form.fecha_nacimiento.auto_id }}">{{form.fecha_nacimiento.label}}</label>
        <input type="text" id="datepicker" value="{{fecha_nacimiento|date:"d/m/Y"}}" name="fecha_nacimiento">
		<label for="{{ form.telefono.auto_id }}">{{form.telefono.label}}</label>
		{{form.telefono}} <br>
		<label for="{{ form.direccion.auto_id }}">{{form.direccion.label}}</label>
		{{form.direccion}} <br>
		<label for="{{ form.correo.auto_id }}">{{form.correo.label}}</label>
		{{form.correo}} <br>		
		<p>Imagen</p>
				
		<input type="file" id="{{ form.nombre.auto_id }}" name="imagen"> <br> <br>
		
		<label for="{{ form.descripcion.auto_id }}">{{form.descripcion.label}}</label>
		{{form.descripcion}} <br>
		<label for="{{ form.categorias.auto_id }}">{{form.categorias.label}}</label>
		{{form.categorias}} <br>
		
		
		<input type="submit" value="Agregar">
		<input type="reset" value="Limpiar">
	</form>
<br>
	{{ informacion }}
<a href="/contactos/page/1/" class="btn btn-primary">Regresar a la lista de Contactos</a>
<div class="span6">
<script>
   $.datepicker.regional['es'] = {
 closeText: 'Cerrar',
 prevText: '<Ant',
 nextText: 'Sig>',
 currentText: 'Hoy',
 monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
 monthNamesShort: ['Ene','Feb','Mar','Abr', 'May','Jun','Jul','Ago','Sep', 'Oct','Nov','Dic'],
 dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
 dayNamesShort: ['Dom','Lun','Mar','Mié','Juv','Vie','Sáb'],
 dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','Sá'],
 weekHeader: 'Sm',
 dateFormat: 'dd/mm/yy',
 firstDay: 1,
 isRTL: false,
 showMonthAfterYear: false,
 yearSuffix: ''
 };
 $.datepicker.setDefaults($.datepicker.regional['es']);	
  $(function() {
    $("#datepicker").datepicker({
        dateFormat: "dd/mm/yy"
    });
  });
  </script>
 </div>
{% endif %}
{% endblock %}
