{% extends 'base.html' %}
{% load static %}
{% block title %} Agregando contactos {% endblock %}
{% block content %}
{% if user.is_authenticated %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet" type="text/css"/>
    <script src="{{ STATIC_URL }}js/bootstrap.js"></script>
    {{ form.media }}
	<form action="." method="POST" enctype="multipart/form-data">
		
		{% csrf_token %}
		<label  for="{{ form.nombre.auto_id }}">{{form.nombre.label}}</label>
		{{form.nombre}} <br>
		<label for="{{ form.apellidos.auto_id }}">{{form.apellidos.label}}</label>
		{{form.apellidos}} <br>
		<label for="{{ form.fecha_nacimiento.auto_id }}">{{form.fecha_nacimiento.label}}</label>
        <input type="text" id="datepicker" value="{{fecha_nacimiento|date:"d/m/Y"}}" name="fecha_nacimiento">
		<label for="{{ form.telefono.auto_id }}">{{form.telefono.label}}</label>
		{{form.telefono}} <br>
		<label for="{{ form.direccion.auto_id }}">{{form.direccion.label}}</label>
		{{form.direccion}} <br>
		<label for="{{ form.correo.auto_id }}">{{form.correo.label}}</label>
		{{form.correo}} <br>		
		<p>Imagen</p>
				
		<input type="file" id="{{ form.nombre.auto_id }}" name="imagen"> <br> <br>
		
		<label for="{{ form.descripcion.auto_id }}">{{form.descripcion.label}}</label>
		{{form.descripcion}} <br>
		<label for="{{ form.categorias.auto_id }}">{{form.categorias.label}}</label>
		{{form.categorias}} <br>
		
		
		<input type="submit" value="Agregar">
		<input type="reset" value="Limpiar">
	</form>
<br>
	{{ informacion }}
<a href="/contactos/page/1/" class="btn btn-primary">Regresar a la lista de Contactos</a>
<div class="span6">
<script>
  $(function() {
    $("#datepicker").datepicker({
        dateFormat: "dd/mm/yy"
    });
  });
  </script>
 </div>
{% endif %}
{% endblock %}
