{% extends 'base.html' %}
{% block title %} Perfil {% endblock %}
{% block content %}
<p></p>

{% if user.is_authenticated %}
	<td><a class="btn" href="/edit/perfil/{{user.id}}/"><li class="icon-pencil"></li>Editar</a></td>
	<p></p>

	<p><b> Nombre =</b> {{ perfil.nombre }} </p>
	<p><b> Apellidos =</b> {{ perfil.apellidos}} </p>
	<p><b> Fecha de nacimiento =</b> {{ perfil.fecha_nacimiento}} </p>
	<p><b> Telefono=</b> {{ perfil.telefono}} </p>
	<p><b> Dirección =</b> {{ perfil.direccion}} </p>
	<p><b> Correo =</b> {{ perfil.correo}} </p>
	
	
	{% if perfil.photo %}
                	 <img src ="/media/{{user.userprofile.photo}}"width="100px" heigth="100px"/>
	{% endif %}
{% endif %}

{% endblock %}

