{% extends 'base.html' %}
{% block title %} Perfil {% endblock %}
{% block content %}
{% if user.is_authenticated %}
	<td><a class="btn" href="/edit/perfil/{{user.get_profile.id}}/"><li class="icon-pencil"></li>Editar</a></td>
	<p></p>
	<p><b> Nombre =</b> {{ user.get_profile.nombre }} </p>
	<p><b> Apellidos =</b> {{ user.get_profile.apellidos}} </p>
	<p><b> Fecha de nacimiento =</b> {{ user.get_profile.fecha_nacimiento}} </p>
	<p><b> Contacto =</b> {{ user.get_profile.telefono}} </p>
	<p><b> Dirección =</b> {{ user.get_profile.direccion}} </p>
	<p><b> Correo =</b> {{ user.get_profile.correo}} </p>
	{% if user.get_profile.photo %}
                	 <img src ="/media/{{user.get_profile.photo}}"width="100px" heigth="100px"/>
	{% endif %}
{% endif %}

{% endblock %}

